<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


<script>
function initialize(){
	var mapProp = {
	  center:new google.maps.LatLng(22.431340156360594, 78.75),
	  zoom:5,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	  map.set("disableDoubleClickZoom", true);
	{% autoescape false %}
	  var trackers = {{tracker}};
	{% endautoescape %}
	for(var x in trackers){
		var coord = trackers[x].split(',').map(parseFloat);
		var myLatlng = new google.maps.LatLng(coord[0], coord[1]);
		var  marker=new google.maps.Marker({
		  id: String(x),
		  position: myLatlng,
		  icon: "{{ url_for('static', filename='images/comics.png') }}",
		  animation:google.maps.Animation.BOUNCE
		  });
		marker.setMap(map);
		var circle = new google.maps.Circle({
		  center: myLatlng,
		  radius: 20000,
		  strokeColor: "#0000FF",
		  strokeOpacity:0.6,
		  fillColor: "#0000FF",
		  fillOpacity: 0.3
		});
		circle.setMap(map);
		google.maps.event.addListener(marker, 'click', function() {
  		$("#overmap").show();
  		console.log(this.id);
		$.post("/query",{'id':this.id})
		    .done(function(data){
			data = $.parseJSON(data);
			var temphtml = "<h3>List of Available Devices</h3>";
			for(var r=0;r<data.length;r++){
			    temphtml +="<p><img src='http://png-5.findicons.com/files/icons/2222/gloss_basic/32/bullet_green.png' style='width:15px;height:15px'>"+ data[r] + "</p>";
			}
			$("#overmap").html(temphtml)
		    });
		  $("#overmap").html(this.id);
		});
	}
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style type="text/css">
    	html, body {
    		height: 100%;
    		margin: 0;
    	}

    	.wrapper {
    		min-height: 100%;}
	#overmap {
		position: absolute;
		top: 30px;
		left: 78%;
		z-index: 99;
		display: block;
		width: 20%;
		height: 90%;
		background: #fff;
		display:none
		}
    	
</style>
</head>

<body>
   <div id="googleMap" class="wrapper">
   </div>
   <div id="overmap">
   </div>
</body>
</html>
